@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #343f4d;
  --color-text-soft: #5a6c82;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(assets/background.jpg) center / cover no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  min-width: 30%;
}

search {
  padding: 15px;
  width: 90%;
  margin: auto;
  background: rgba(255, 255, 255, 0.499);
  border-radius: 35px;
  transition: 0.3s ease;
}

search:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.input-box {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 15px;
  background: white;

  border-radius: 40px;
}

.input-box i {
  font-size: 0.9rem;
  color: rgb(129, 129, 129);
}

.city-name {
  padding: 0px 10px;
  width: 100%;
  height: 100%;
  font-size: 1rem;

  background: none;
  border: none;
  outline: none;
}

.button-search {
  height: 100%;
  width: 20%;

  border-radius: 0px 40px 40px 0px;
  background: #61acfd;
  border: none;
  cursor: pointer;

  transition: 0.3s ease;
}

.button-search:hover {
  background: #549eec;
}

.button-search i {
  font-size: 1.5em;
  color: white;
}

main {
  padding: 30px;
  background: rgba(255, 255, 255, 0.327);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(4, 73, 147, 0.262);
  overflow: hidden;

  position: relative;
}

.local-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.local-info p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text);
}

.local-date {
  color: var(--color-text-soft);
  margin-left: 42px;
  margin-top: 5px;
}

.info-temp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.temp {
  font-size: 4.5rem;
  font-weight: 500;
  color: var(--color-text);
}

.description {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-text);
}

.feels {
  color: var(--color-text-soft);
}

.elements {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 200px;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(97, 170, 248, 0.11);

  transition: 0.4s ease;
}

.element:hover {
  box-shadow: 0px 0px 20px rgba(97, 170, 248, 0.268);
}

.title {
  display: flex;
  gap: 5px;
  color: var(--color-text);

  position: relative;
}

.title i {
  position: absolute;
  left: -25px;
}

.result {
  font-size: 1.7rem;
  color: var(--color-text);
}

.icon {
  position: absolute;
  top: 0px;
  right: 60px;

  height: 300px;
}

.error {
  width: 500px;
  text-align: center;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.142);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(4, 73, 147, 0.262);
}

.error img {
  height: 250px;
}

.error h2 {
  margin: 20px auto;
  color: #3f3d56;
}

.error p {
  color: #3f3d56;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  body {
    background-size: auto;
  }

  .element {
    padding: 10px;
    gap: 10px;
    width: 100px;
  }

  .title i {
    font-size: 0.8rem;
    left: -20px;
  }

  .title p {
    font-size: 0.8rem;
  }

  .icon {
    top: 10px;
    right: -30px;
  }
}

@media screen and (max-width: 415px) {
  main {
    padding: 20px 10px;
  }

  .elements {
    gap: 10px;
  }

  .element {
    padding: 0px;
  }

  .result {
    font-size: 1.5rem;
  }

  .icon {
    right: -60px;
  }
}
